body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #025240;
}

header {
  background-color: #fff4ae;
  border: solid 10px #025240;
  font-family: cursive;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  padding: 20px 0;
}

nav a,
nav a:visited,
nav a:link {
  display: inline-block;
  background-color: #31c171;
  color: #ff7b8b;
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  border: solid 2px #ffdc27;
  text-decoration: none;
}

h1 {
  color: #e7324b;
  margin-bottom: 1rem;
  font-size: 36px;
}

main {
  padding: 20px;
  margin: 10px;
  background-color: #f2f2f2;
}

main img {
  display: block;
  margin: auto;
}

p {
  font-size: 18px;
}

footer {
  background-color: #025240;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}
